//Colors

$off-black: #894444;
$off-white: #E5B7B7;
$dark-blue: #E5B7B7;
$blue: #9B5A5A;
$light-blue: #BF8787;
$purple: #D14949;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

